@use "../../../breakpoint.scss";

.container {
    position: sticky;
    top: var(--top-margin);
    background-color: var(--topbar-bg);
    backdrop-filter: blur(8px);
    z-index: 100;

    @include breakpoint.mobile {
        top: calc(var(--top-margin) + var(--topbar-height));
    }
}