@use "../../../breakpoint.scss";

.container {
    position: sticky;
    top: 48px;
    background-color: var(--topbar-bg);
    backdrop-filter: blur(8px);

    @include breakpoint.mobile {
        top: calc(48px + var(--topbar-height));
    }
}