.topCommands {
    display: flex;
    align-items: center;
    gap: 4px;
}

.postButton {
}

.textarea {
    background: transparent;
    border: 0;
    outline: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.placeholder {
    width: 32px;
    height: 32px;
    background: var(--card-text);
    opacity: 0.3;
    border-radius: 999px;
}

.spacer {
    margin: auto;
}

.remain {
    color: var(--primary);
    font-weight: bold;
    font-size: 0.8rem;
}