.input {
    border: 1px solid var(--ui-border-color);
    border-bottom-width: 2px;
    border-radius: var(--ui-radius);
    background: var(--ui-bg);
    color: var(--ui-text);
    padding: 8px 16px;

    &:focus {
        outline: none;
        border-bottom-color: var(--ui-focus-color);
    }

    &[type="color"] {
        padding: 0 2px;
    }
}

.inputPrimary {
    @extend .input;
}