.logo {
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
    height: 32px;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    height: var(--topbar-height);
    padding: 0 16px;
    margin-bottom: 32px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--topbar-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.topLink {
    background: transparent;
    padding: 8px 16px;
    border-radius: var(--ui-radius);
    color: var(--body-text);
    text-decoration: none;

    &:hover {
        background-color: var(--ui-flat-hover-bg);
    }

    &:active {
        background-color: var(--ui-flat-active-bg);
    }
}