@use "../../breakpoint";

.inner {
    max-width: 1000px;
    padding: var(--top-margin) 32px;
}

.footer {
    margin-top: 32px;
    font-size: 12px;
    color: var(--text-muted);
}

@include breakpoint.mobile {
    .main {
        margin-top: var(--topbar-height);
    }

    .inner {
        padding: var(--top-margin) 12px;
    }
}

@include breakpoint.desktop {
    .inner {
        margin-left: var(--nav-width);
    }
}